<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>
    Car Detection
  </title>
</head>

<body>

  <h1>Car Detection</h1>

  <form action="/" method="post" enctype="multipart/form-data">
    <input type="file" id="file_upload" name="file_upload" accept="image/*" />
    <button type="submit" id="submit_button" disabled>Detect Cars</button>
  </form>

  <img class="result_img" src="{{ result_img }}" width="500" height="300" id="result_img">

  <h5>{{ result_count }}</h5>

  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>